body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c9c6c6;
    color: rgb(7, 7, 93);
    margin:10px 5px;
    padding:10px;
    box-sizing: border-box;
   
}
.card{
    
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(120, 101, 159);
    border: 2px #1e1b1b ;
    border-radius: 15px;
}
h1,h2{
    margin-bottom: 10px;
}
.p{
    font-family: sans-serif;
    font-weight: 100;
}
img{
     object-fit: cover;
     height: 50%;
     width: 50%;
     background-size: cover;
     background-position: center;
     border-radius: 15px;
}
