
@media screen and (max-width: 600px){
    nav ul {
    flex-direction: column;
    align-items: center;
  }

  main {
    padding: 1rem;
  }

  .card {
    padding: 1rem;
  }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    padding: 1.5rem;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    background-color: #35288d;
    padding: 1rem;
    border-radius: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
main{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.skills{
    width: 100%;
}
#skills ul {
    padding-left: 1.2rem;
    margin-top: 1rem;
}

#skills li{
    margin-bottom: 0.5rem;
}
.card {
  background-color: #f4f4f4;
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 800px;
  margin: 0 auto;
}

#projects{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#projects article {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;

}
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
form {
    max-width: 500px;
    margin-top: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.4rem;
    font-weight: bold;
}

input, textarea {
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #00ffcc;
}

button {
    padding: 0.7rem;
    background-color: #152789;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
}

button:hover {
    background-color: #157294;
}

